@model PagedList.IPagedList<InstituteOfFineArts.Models.Competition>
@using InstituteOfFineArts.Models
@using Microsoft.Ajax.Utilities
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Competition List</h2>
@using (Html.BeginForm("Index", "Competition", FormMethod.Get))
{
    <p>
        Find by keyword: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>

}
<table id="example2" class="table table-bordered table-hover">
    <tr>
        <th>
            Id
        </th>
        <th>
            Competition Name
        </th>
        <th>
            Created By
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Image
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@(item.CompetitionId)</td>
    <td>
        @Html.DisplayFor(modelItem => item.CompetitionName)
    </td>
    <td>
        @Html.ActionLink(@item.Creator.FirstName + " " + @item.Creator.LastName, "Details/" + @item.CreatorId, "Member")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>
    <td class="col-md-2">

        <img src="@item.Image" alt="Alternate Text" class="img-thumbnail" />
    </td>

    <td id="status">
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.ActionLink("Detail", "Detail", new { id = item.CompetitionId }, new { @class = "btn btn-info" })
        @Html.ActionLink("Submission", "List", "Submission", new { id = item.CompetitionId }, new { @class = "btn btn-warning" })
    </td>
    
</tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.SortOder, currentFilter = ViewBag.CurrentFilter }))