@model IEnumerable<InstituteOfFineArts.Models.Account>

<tr>
    <th>
        FirstName
    </th>
    <th>
        LastName
    </th>
    <th>
        Email
    </th>
    <th>
        Birthday
    </th>
    <th></th>
</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.FirstName
        </td>
        <td>
            @item.LastName
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.Birthday
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            <button class="btn-danger" onclick="remove('@item.Id')">Delete</button>
        </td>
    </tr>
}