@model IEnumerable<InstituteOfFineArts.Models.Competition>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h2 style="text-align:center;" class="box-title">List Competition</h2>
                    </div>
                    <div class="box-header">
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
                    </div>
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CompetitionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Image)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.Awards)
                                    </th>*@
                                <th>Action</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("List", "Submission", new { id = item.CompetitionId })"> @Html.DisplayFor(modelItem => item.CompetitionName)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                    <td>
                                        <img class="img-responsive pad" src="@Html.DisplayFor(modelItem => item.Image)" alt="Alternate Text" />
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.Awards)
                                        </td>*@
                                    <td>

                                        @using (Html.BeginForm("List", "Submission", FormMethod.Get))
                                        {

                                        }
                                        @Html.ActionLink("Edit", "Edit", new { id = item.CompetitionId }, new { @class = "btn btn-warning" })
                                        @Html.ActionLink("Detail", "Detail", new { id = item.CompetitionId }, new { @class = "btn btn-info" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.CompetitionId }, new { @class = "btn btn-danger" })

                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
