@model IEnumerable<InstituteOfFineArts.Models.Competition>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompetitionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Award) *@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompetitionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Image)" alt="Alternate Text" />
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Awards) *@
            </td>
            <td>
            
            @using (Html.BeginForm("List", "Submission", FormMethod.Get))
            {
                    <a href="@Url.Action("List","Submission",new { id = item.CompetitionId})">List</a>
            }
                    @Html.ActionLink("Edit", "Edit", new { id = item.CompetitionId }) |
                    @Html.ActionLink("Detail", "Detail", new { id = item.CompetitionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CompetitionId })

            </td>
        </tr>
    }

</table>
