<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="treeview">
        <a href="@Url.Action("","")">
            <i class="fa fa-table"></i> <span>Manager</span>
        </a>
    </li>

    <li class="treeview">
        <a href="@Url.Action("","")">
            <i class="fa fa-table"></i> <span>Staff</span>
        </a>
    </li>
    <li class="treeview">
        <a href="@Url.Action("","")">
            <i class="fa fa-edit"></i> <span>Student</span>
        </a>
    </li>
    <li class="treeview">
        <a href="@Url.Action("","")">
            <i class="fa fa-th"></i> <span>Class</span>
        </a>
    </li>
    <li class="treeview">
        <a href="@Url.Action("Index","Competition")">
            <i class="fa fa-table"></i> <span>Competitions</span>
        </a>
    </li>
    <li class="treeview">
        <a href="@Url.Action("Index","Submission")">
            <i class="fa fa-table"></i> <span>Submissions</span>
        </a>
    </li>
</ul>