<html lang="zxx" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="img/fav.png">

    <meta name="author" content="codepixer">

    <meta name="description" content="">

    <meta name="keywords" content="">

    <meta charset="UTF-8">

    <title>Art Museum</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Homepage/css")
</head>
<body class=" background-style">
     
     <header id="header" class="header-scrolled"> 
     
         <div class="container"> 
             <div class="row align-items-center justify-content-between d-flex"> 
                 <div id="logo" class="col-md-12 top-head-left"> 
                     <a href="#"><img src="~/Content/img/pofa_logo.png" alt="Logo" title=""></a> 
                 </div> 
                 <nav id="nav-menu-container"> 
                     <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;"> 
                         <li class="menu-active"><a href="index.html">Home</a></li> 
                         <li class="active"> 
                             <a href="#">Competition</a> 
                             <ul class="dropdown"> 
                                 <li><a href="#">About Us</a></li> 
                                 <li><a href="#">Blog Details</a></li> 
                             </ul> 
                         </li> 
                         <li><a href="event.html">Award</a></li> 
                         <li><a href="ticket.html">Exhibition</a></li> 
                         <li><a href="blog-home.html">About</a></li> 
                         <li><a href="contact.html">Contact</a></li> 
                     </ul> 
                 </nav> 
             </div> 
         </div> 
     </header> 

    @RenderBody()

    <footer class="section-gap ">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                        </p>
                        <p class="footer-text">

                            Copyright &copy;
                            <script type="61ce3ffbce705e338d4feed6-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>Stay update with our latest</p>
                        
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/Content/Homepage/js")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" type="61ce3ffbce705e338d4feed6-text/javascript"></script>
    <script type="61ce3ffbce705e338d4feed6-text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="61ce3ffbce705e338d4feed6-text/javascript"></script>
    <script type="61ce3ffbce705e338d4feed6-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="61ce3ffbce705e338d4feed6-|49" defer=""></script>

</body>
</html>