<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="background-style">

    <div class="navbar navbar-style">
        
        <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href='@Url.Action("Index", "Home")'>
                    <img class="center" style="width: 160px; height: 90px;" src='@Url.Content("~/Content/Img/pofa_logo.png")' />
                </a>
                
            </div>
            <div class="navbar-collapse collapse navbar-styles">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Competition", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Award", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Exhibitions", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
 
    <div class="body-content ">
        @RenderBody()
        
        <footer class="container" id="theme-footer">
            <div id="footer-widget-area" class="footer-3c">
                <hr style="border: 1px solid #696969" />
                <div id="footer-first" class="footer-widgets-box">
                    <div id="text-html-widget-4" class="footer-widget text-html">
                        <div class="footer-widget-top"><h4>Liên hệ</h4></div>
                        <div class="footer-widget-container">
                            <div>
                                Địa chỉ: 8 Ton That Thuyet, Cau Giay, Ha Noi<br>
                                Điện thoại: (844) 39426972, 38263861, 38220879<br>
                                Fax: (844) 38226418<br>
                                Email: HMLA.FineArt@gmail.com<br>
                                Website: www.HMLAFineArt.edu.vn
                            </div><div class="clear"></div>
                        </div>
                    </div><!-- .widget /-->
                </div>
            </div><!-- #second .widget-area -->

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
