@model PagedList.IPagedList<InstituteOfFineArts.Models.Competition>
@using InstituteOfFineArts.Models
@using Microsoft.Ajax.Utilities
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Competition List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Competition", FormMethod.Get))
{
    <p>
        Find by keyword: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>

}
<table id="example2" class="table table-bordered table-hover">
    <tr>
        <th>
            Id
        </th>
        <th>
            Competition Name
        </th>
        <th>
            Created By
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Image
        </th>
        @* <th> *@
        @*     @Html.DisplayNameFor(model => model.Description) *@
        @* </th> *@
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@(item.CompetitionId)</td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetitionName)
            </td>
            <td>
                @Html.ActionLink(@item.Creator.FirstName + " " + @item.Creator.LastName, "Details/"+@item.CreatorId, "Member")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td class="col-md-2">
                @* @Html.DisplayFor(modelItem => item.Image) *@
                <img src="@item.Image" alt="Alternate Text" class="img-thumbnail" />
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Description) *@
            @* </td> *@
            <td id="status">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.Status == Competition.CompetitionStatus.Pending)
                {
                    <button id="confirm1" class="btn btn-warning" onclick="confirmCompetition(@item.CompetitionId)">Confirm</button>
                }
                @Html.ActionLink("Detail", "Detail", new {id = item.CompetitionId}, new {@class = "btn btn-info"})
                @Html.ActionLink("Delete", "Delete", new {id = item.CompetitionId}, new {@class = "btn btn-danger"})
            </td>
            
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.SortOder, currentFilter = ViewBag.CurrentFilter }))
@section scripts
{
    <script>
        function confirmCompetition (id) {
            var confirmation = confirm("Are you sure you want to confirm?");
            if (confirmation) {
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("ConfirmCompetition", "Competition")',
                    data: {
                        competitionId: id
                    },
                    success: function (res) {
                        if (res === 1) {
                            $('#status').html("Confirm");
                            $('#confirm1').hide();
                        }
                    }

                })
            }
        }
    </script>
}
