@model PagedList.IPagedList<InstituteOfFineArts.Models.Competition>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="example2" class="table table-bordered table-hover">
    <tr>
        <th>
           Id
        </th> <th>
            Competition Name
        </th>
        <th>
            Created By
        </th>
        <th>
           Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
           Image
        </th>
        @* <th> *@
        @*     @Html.DisplayNameFor(model => model.Description) *@
        @* </th> *@
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@(item.CompetitionId)</td>
        <td>
            @Html.DisplayFor(modelItem => item.CompetitionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator.FirstName)  @Html.DisplayFor(modelItem => item.Creator.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td class="col-md-2">
            @* @Html.DisplayFor(modelItem => item.Image) *@
            <img src="@item.Image" alt="Alternate Text" class="img-thumbnail"/>
        </td>
        @* <td> *@
        @*     @Html.DisplayFor(modelItem => item.Description) *@
        @* </td> *@
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.SortOder, currentFilter = ViewBag.CurrentFilter }))