@using Microsoft.AspNet.Identity
@model InstituteOfFineArts.Models.Submission

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white pt-20 pb-20">
                    @Html.DisplayFor(model => model.Competitions.CompetitionName)
                </h1>
            </div>
        </div>
    </div>
</section>
<div class="whole-wrap">
    <div class="container ">

        <div class="section-top-border">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-rounded img-fluid img-detail-submisstion" src="@Url.Content(Model.Picture)" alt="Alternate Text" />
                    @if (Model.AccountId == User.Identity.GetUserId())
                    {
                        <button class="btn btn"><a href="@Url.Action("Edit", "Submission", new { id = Model.SubmissionId })" >Update</a></button>
                    }

                        <button class="btn"><a href="@Url.Action("List", "Submission", new {id = Model.CompetitionId})">Back to list</a></button>
                </div>
                <div class="col-md-6 mt-sm-20">
                    <h3 style="">Competition: @Html.DisplayFor(model => model.Competitions.CompetitionName)</h3>
                    <h4>Student Name: @Html.DisplayFor(model => model.Account.FirstName) @Html.DisplayFor(model => model.Account.LastName)</h4>
                    <h5>Description : </h5><p>@Html.DisplayFor(model => model.Description)</p>

                </div>

                @*<div class="col-md-8 mt-sm-20"">
                        if (model.accountid == user.identity.getuserid())
                        {
                            <a href="@url.action("edit", "submission", new {id = model.submissionid})"></a>
                        }

                        <a href="@url.action("list", "submission", new {id = model.competitionid})"></a>

                    </div>*@
            </div>
        </div>
    </div>
</div>
