@using Microsoft.AspNet.Identity
@model InstituteOfFineArts.Models.Submission

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <hr />
        <div class="entry-header">
            <h2>@Html.DisplayFor(model => model.Competitions.CompetitionName)</h2>
        </div>
        <br />
        <div class="entry-header">

            <div class="row">
                <div class="col-md-6" >
                    <img class="picture" src="@Url.Content(Model.Picture)" alt="Alternate Text" />
                </div>

                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.AccountId)
                </div>

                <div class="col-md-3">
                    @Html.DisplayFor(model => model.Account.FirstName) @Html.DisplayFor(model=>model.Account.LastName)
                </div>

                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.Description)
                </div>

                <div class="col-md-3">
                    @Html.DisplayFor(model => model.Description)
                </div>
                <div style="margin-top: 250px;">
                    @if (Model.AccountId == User.Identity.GetUserId())
                    {
                        <a href="@Url.Action("Edit", "Submission", new {id = Model.SubmissionId})"><img style="width: 80px; height: 40px;" src="https://i.ibb.co/KrS2rDg/images-removebg-preview.png" /></a>
                    }

                    <a href="@Url.Action("List", "Submission", new {id = Model.CompetitionId})"><img style="width: 80px; height: 40px" src="https://pngimage.net/wp-content/uploads/2018/05/back-button-png-blue-1.png" /></a>

                </div>
                </div>
           

        </div>

    </div>
