@model PagedList.IPagedList<InstituteOfFineArts.Models.Submission>
@using InstituteOfFineArts.Models
@using PagedList.Mvc;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section class="container">
        <hr class="mt-2 mb-5">
        @using (Html.BeginForm("List", "Submission", FormMethod.Get))
        {
            <h1 class="header-submission">@Html.DisplayFor(model=>Model.First().Competitions.CompetitionName)</h1>
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="row" style="margin: 20px">
                    <div class="col-lg-6">
                        @Html.TextBox("SearchString", null, ViewBag.CurrentFilter as string, new { @placeholder = " Find by Name... ", @class = "form-control" })
                    </div>
                </div>
            </div>
        }

        <div class="row text-center">
            @foreach (var item in Model)
            {
                <div class="col-md-3">

                    <a href="@Url.Action("Details","Submission",new {id = item.SubmissionId})" class="d-block mb-4">
                        <img class="thumbnail-img" src="@item.Picture" alt="">
                    </a>
                    <h6>
                        @Html.DisplayNameFor(model => item.Account.UserName): @Html.DisplayFor(model => item.Account.FirstName) @Html.DisplayFor(model => item.Account.LastName)
                    </h6>
                    <h6>
                        @Html.DisplayNameFor(model => item.Description): @Html.DisplayFor(model => item.Description)
                    </h6>

                </div>
            }

        </div>
        <div class="footer-submission">
            Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("List", new { page, sortOrder = ViewBag.SortOder, currentFilter = ViewBag.CurrentFilter }))
        </div>
       
    </section>
