@model PagedList.IPagedList<InstituteOfFineArts.Models.Submission>
@using InstituteOfFineArts.Models
@using PagedList.Mvc;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="relative" style="background: url(@Model.First().Competitions.Image);background-size: cover">
    <div class="overlay overlay-bg" style="background-color: rgba(0, 0, 0, 0.7);"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white pt-20 pb-20">
                    @Html.DisplayFor(model => model.First().Competitions.CompetitionName)
                </h1>
            </div>
        </div>
    </div>
</section>
    <section class="container-fluid">
        <div class="row text-center detail-content">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-5 mx-auto"  style="box-shadow: 3px 3px 10px 1px grey;">

                    <a href="@Url.Action("Details", "Submission", new {id = item.SubmissionId})" class="d-block mb-4">
                        <img class="thumbnail-img img-rounded" src="@item.Picture" alt="">
                    </a>
                    <h6>
                         @Html.DisplayFor(model => item.Account.FirstName) @Html.DisplayFor(model => item.Account.LastName)
                    </h6>
                    <h6>
                         @Html.DisplayFor(model => item.Description)
                    </h6>

                </div>
            }

        </div>
        <div class="footer-submission">
            Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
            <div style="color: white;"> @Html.PagedListPager(Model, page => Url.Action("List", new { page, sortOrder = ViewBag.SortOder, currentFilter = ViewBag.CurrentFilter }))</div>
        </div>

    </section>
