@using InstituteOfFineArts.Models
@model IEnumerable<InstituteOfFineArts.Models.Submission>
    <div class="container-fluid" style="background-color: #ffffff">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Submissions</h1>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mb-5">
                @foreach (var item in Model)
                {

                    <div class="col-lg-3 col-md-6 single-blog mx-auto" style="box-shadow: 0 0 10px 4px grey, 0 0 10px 0px grey, 0px 0 0px 0px grey;">
                        <div class="thumb">
                            <a href="@Url.Action("Details", "Submission", new {id = item.SubmissionId})"><img class="thumbnail-img shadow p-3 mb-3 mt-3 img-rounded" src="@item.Picture" alt=""></a>
                        </div>

                        <p class="text-left">
                            <a href="@Url.Action("Details", "Submission", new {id = item.SubmissionId})"> @item.Description - @item.Account.FirstName @item.Account.LastName</a>

                        </p>
                        <p class="text-left">Post Date</p>
                    </div>

                }
            </div>

            <!-- /.container -->
            @using (Html.BeginForm("ListSubmission", "Submission", FormMethod.Get))
            {
                @Html.AntiForgeryToken()

                <div class="col-md-12 text-center">
                    <a href="@Url.Action("List", "Submission", new {id = Model.First().CompetitionId})" target="_blank" class="primary-btn text-uppercase">View More</a>

                </div>
            }

        </div>
    </div>
