@model PagedList.IPagedList<InstituteOfFineArts.Models.Submission>
@using PagedList.Mvc;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section class="container">
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">The List of Submission</h1>

        <hr class="mt-2 mb-5">
        @using (Html.BeginForm("List", "Submissions", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="row" style="margin: 20px">
                    <div class="col-lg-6">
                        @Html.TextBox("SearchString", null, ViewBag.CurrentFilter as string, new { @placeholder = " Find by Name... ", @class = "form-control" })
                    </div>
                </div>
            </div>
        }

        <div class="row text-center text-lg-left">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                   
                        <a href="@Url.Action("Details","Submissions",new {id = item.SubmissionId})" class="d-block mb-4 h-100">
                            <img class="thumbnail-img" src="@item.Picture" alt="">
                        </a>
                        <div>
                            Student Id: @item.AccountId
                        </div>
                        <div>
                            Description: @item.Description
                        </div>

                </div>
            }

        </div>
        Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("List", new { page, sortOrder = ViewBag.SortOder, currentFilter = ViewBag.CurrentFilter }))
    </section>
