@using Microsoft.AspNet.Identity
@model InstituteOfFineArts.Models.Submission
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="background-color: #f3f3f3;">
    <!-- Start cat-top Area -->
    <section class="">
        <div class="container mt-30">
            <h1>
                @Html.DisplayFor(model => model.Competition.CompetitionName)
            </h1>
            <div class="row">
                <div class="col-md-4">
                    <h3>Picture Name: @Html.DisplayFor(model => model.SubmissionName)</h3>
                    <h4>Student Name: @Html.DisplayFor(model => model.Creator.FirstName) @Html.DisplayFor(model => model.Creator.LastName)</h4>
                    <h4>Point:</h4>
                    @if (Model.Marks.Any())
                    {
                        @Html.DisplayFor(model => model.Marks.First().Marks)
                    }

                <h4>Award:  @Html.DisplayFor(model => model.Awards.AwardName)</h4>
                    <h4>Post Date: @Html.DisplayFor(model => model.UpdatedAt)</h4>
                    <h4>Description : @Html.DisplayFor(model => model.Description)</h4>
                </div>
                <div class="col-md-6">
                    <img id="myImg" class="img-thumbnail img-rounded" src="@Url.Content(Model.Picture)" alt="">
                </div>

            </div>
        </div>
        <a class="btn btn-success" href="@Url.Action("List", "Submission", new {id = Model.CompetitionId})">Back</a>
    </section>
</div>
