@model InstituteOfFineArts.Models.Competition

@{
    ViewBag.Title = "DetailCompetition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <main class="site-main">
        <article class="type-page">
            <header class="entry-header">
                <h1 class="entry-title">
                    @Html.DisplayFor(model => model.CompetitionName)
                </h1>
            </header>

            <hr />

            <div class="col-md-12">
                <div>
                    <img class="banner-thumbnail" width="1200" height="300" src="@Url.Content(Model.Image)" />
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <strong>@Html.DisplayNameFor(model => model.StartDate):</strong>
                        @Html.DisplayFor(model => model.StartDate)
                    </div>
                    <div class="col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.EndDate):</strong>
                        @Html.DisplayFor(model => model.EndDate)
                    </div>

                </div>

                <div>
                    @Html.DisplayFor(model => model.Description)
                </div>

                <a href='@Url.Action("Register", "Submissions", new {competitionId = Model.CompetitionId})' target="_blank" class="register-button">
                    <img src='@Url.Content("https://www.theartacademy.in/wp-content/uploads/2018/11/National-Art-Competition-2018-for-children-The-Art-Academy-Register-button.jpg")' />
                </a>

            </div>
        </article>
    </main>
</div>
<hr style="border: 1px solid" />
@if (Model.Submissions.Any())
{
    @Html.Action("ListSubmission", "Submissions", new { competitionId = Model.CompetitionId })
}
