@using System.Collections.Generic
@using System.Linq
@using InstituteOfFineArts.Models
@model System.Collections.Generic.IEnumerable<InstituteOfFineArts.Models.Competition>

    <section class="upcoming-event-area section-gap" id="events">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Các sự kiện đang diễn ra</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            @{
                var length = Model.Count();
                List<Competition> competitions = (List<Competition>) Model;
            }
            <div class="row">
            @for (var i = 0; i < competitions.Count - 4; i += 4)
            {
                <div class="col-lg-6 event-left">
                    <div class="single-events">
                        <img class="img-fluid" src="@competitions[i].Image" alt="">
                        <a href="#"><h4>@competitions[i].CompetitionName</h4></a>
                        <h6><span>21st February</span> at Central government museum</h6>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
                        </p>
                        <a href="#" class="primary-btn text-uppercase">View Details</a>
                    </div>
                    <div class="single-events">
                        <a href="#"><h4>@competitions[i+2].CompetitionName</h4></a>
                        <h6><span>21st February</span> at Central government museum</h6>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
                        </p>
                        @Html.ActionLink("VIEW DETAILS", "DetailCompetition", "Competition", new {Id = @competitions[i+2].CompetitionId},new { @class = "primary-btn text-uppercase"});
                        <img class="img-fluid" src="@competitions[i + 2].Image" alt="">
                    </div>

                </div>
                <div class="col-lg-6 event-right">
                    <div class="single-events">
                        <a href="#"><h4>@competitions[i+1].CompetitionName</h4></a>
                        <h6><span>21st February</span> at Central government museum</h6>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
                        </p>
                        @Html.ActionLink("VIEW DETAILS", "DetailCompetition", "Competition", new {Id = @competitions[i+1].CompetitionId},new { @class = "primary-btn text-uppercase"});
                        <img class="img-fluid" src="@competitions[i+1].Image" alt="">
                    </div>
                    <div class="single-events">
                        <img class="img-fluid" src="@competitions[i+3].Image" alt="">
                        <a href="#"><h4>@competitions[i+3].CompetitionName</h4></a>
                        <h6><span>21st February</span> at Central government museum</h6>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
                        </p>
                        @Html.ActionLink("VIEW DETAILS", "DetailCompetition", "Competition", new {Id = @competitions[i+4].CompetitionId},new { @class = "primary-btn text-uppercase"});
                    </div>

                </div>
            }
            </div>
        </div>
    </section>