@model InstituteOfFineArts.Models.Competition

@{
    ViewBag.Title = "DetailCompetition";
    Layout = "~/Views/Shared/_ExtraLayout.cshtml";
}

<div class="container">
    <main class="site-main">
        <article class="type-page">
            <header class="entry-header">
                <h1 class="entry-title" style="margin-top: 10px; margin-bottom: 10px;">
                    @Html.DisplayFor(model => model.CompetitionName)
                </h1>
            </header>
            <hr />


            <div class="container">
                <div class="entry-banner">
                    <img class="banner-thumbnail" src="@Url.Content(Model.Image)" />
                </div>

                <div class="row detail-content">
                    <div class="col-md-6 term">
                        <strong>@Html.DisplayNameFor(model => model.StartDate):</strong>
                        @Html.DisplayFor(model => model.StartDate)
                    </div>
                    <div class="col-md-6 term">
                        <strong>@Html.DisplayNameFor(model => model.EndDate):</strong>
                        @Html.DisplayFor(model => model.EndDate)
                    </div>

                </div>

                <div class="detail-content submission-content">
                    @Html.DisplayFor(model => model.Description)
                </div>

                <a href='@Url.Action("Register", "Submission", new {competitionId = Model.CompetitionId})' target="_blank" class="register-button">
                    <img src='@Url.Content("https://www.theartacademy.in/wp-content/uploads/2018/11/National-Art-Competition-2018-for-children-The-Art-Academy-Register-button.jpg")' />
                </a>

            </div>
        </article>
    </main>
</div>
<hr style="border: 1px solid" />
@if (Model.Submissions.Any())
{
    @Html.Action("ListSubmission", "Submission", new { Id = Model.CompetitionId })
}
<hr class="container" style="border: 1px solid" />