@model InstituteOfFineArts.Models.Competition

@{
    ViewBag.Title = "DetailCompetition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    <section class="banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white pt-20 pb-20">
                        @Html.DisplayFor(model => model.CompetitionName)
                    </h1>
                    <a href="@Url.Action("Register", "Submission", new {competitionId = Model.CompetitionId})" target="_blank" class="primary-btn text-uppercase">Register</a>
                    
                </div>
            </div>
        </div>
    </section>
   

<div class="container">
    <main class="site-main">
        <article class="type-page">
            <div class="container">
                <div class="row detail-content">
                    <div class="col-md-6 term">
                        <strong>@Html.DisplayNameFor(model => model.StartDate):</strong>
                        @Html.DisplayFor(model => model.StartDate)
                    </div>
                    <div class="col-md-6 term">
                        <strong>@Html.DisplayNameFor(model => model.EndDate):</strong>
                        @Html.DisplayFor(model => model.EndDate)
                    </div>
                </div>
                <div class="detail-content submission-content">
                    @Html.DisplayFor(model => model.Description)
                </div>

            </div>
        </article>
    </main>
</div>
<hr style="border: 1px solid" />
@if (Model.Submissions.Any())
{
    @Html.Action("ListSubmission", "Submission", new { Id = Model.CompetitionId })
}
<br />