
@model PagedList.IPagedList<InstituteOfFineArts.Models.Competition>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ShowList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-style" style="background-color:#f3f3f3; background-size:cover">
    <section class="banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white pt-20 pb-20">
                        List Of Competitions
                    </h1>
                    <p class="text-white link-nav"><a href="/Home/Index">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="#">Competition</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="upcoming-event-area section-gap content container" id="events">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Checkout our Upcoming Events</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <article>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-10">
                        <div class="title text-center">
                            <h1 class="mb-10"></h1>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @for (var i = 0; i < 1; i++)
                    {
                        <div class="col-lg-6 event-left">
                            <div class="single-events">
                                <img class="img-fluid" src="@Url.Content(Model[i].Image)" style="height: 250px;width: 540px" alt="">
                                <a href="#"><h4>@Model[i].CompetitionName</h4></a>
                                <p>
                                    @Model[i].Description
                                </p>
                                @Html.ActionLink("VIEW DETAILS", "Details", "Competition", new { Id = @Model[i].CompetitionId }, new { @class = "primary-btn text-uppercase" })
                            </div>
                            <div class="single-events">
                                <img class="img-fluid" src="@Url.Content(Model[i + 1].Image)" style="height: 250px;width: 540px" alt="">
                                <a href="#"><h4>@Model[i + 1].CompetitionName</h4></a>
                                <p>
                                    @Model[i + 1].Description
                                </p>
                                @Html.ActionLink("VIEW DETAILS", "Details", "Competition", new { Id = @Model[i + 1].CompetitionId }, new { @class = "primary-btn text-uppercase" })
                            </div>
                        </div>
                        <div class="col-lg-6 event-right">
                            <div class="single-events">
                                <a href="#"><h4>@Model[i + 2].CompetitionName</h4></a>
                                <p>
                                    @Model[i + 2].Description
                                </p>
                                @Html.ActionLink("VIEW DETAILS", "Details", "Competition", new { Id = @Model[i + 2].CompetitionId }, new { @class = "primary-btn text-uppercase" })
                                <img class="img-fluid" src="@Url.Content(Model[i + 2].Image)" style="height: 250px; width: 540px" alt="">
                            </div>
                            <div class="single-events">
                                <a href="#"><h4>@Model[i + 3].CompetitionName</h4></a>
                                <p>
                                    @Model[i + 3].Description
                                </p>
                                @Html.ActionLink("VIEW DETAILS", "Details", "Competition", new { Id = @Model[i + 3].CompetitionId }, new { @class = "primary-btn text-uppercase" })
                                <img class="img-fluid" src="@Url.Content(Model[i + 3].Image)" style="height: 250px; width: 540px" alt="">
                            </div>
                        </div>

                    }

                </div>
            </div>

        </article>
        <hr />
        Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
        <div style="color: white;"> @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.SortOder, currentFilter = ViewBag.CurrentFilter }))</div>
    </section>

</div>


