
@model PagedList.IPagedList<InstituteOfFineArts.Models.Competition>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ShowList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section class="content container">

        <header class="entry-header">
            <h1 class="entry-title">
                List Of Art Competitions
            </h1>
        </header>
        <hr style="border-color:white" />
       @using (Html.BeginForm("ShowList", "Competition", FormMethod.Get))
         {
         <div class="container">
            <div class="row" style="margin: 20px">
                <div class="col-lg-6">
                    @Html.TextBox("SearchString", null, ViewBag.CurrentFilter as string, new { @placeholder = " Find by Name... ", @class = "form-control" })

                </div>
            </div>
          </div>        
         }

        @foreach (var item in Model)
        {
          <article>
              <div class="entry-content">
                  <a style="display:table; border:1px solid #808080; background-color:aliceblue; height:300px; text-decoration:none" href='@Url.Action("DetailCompetition","Competition", new {id = item.CompetitionId })'>
                      <span>
                          <img style="width:350px; height: 300px; float:left; border: 2px solid #ff6a00" class="alignnone size-full wp-image-7079" src="@Url.Content(item.Image)" width="1100" height="500" sizes="(max-width: 1200px) 100vw, 1200px">
                      </span>
                      <div style="padding: 5px 10px">
                          <h2>@Html.DisplayFor(modelItem => item.CompetitionName)</h2>
                          <p style="color: #e0357b; width:98%">@Html.DisplayFor(modelItem => item.Description)</p>
                          <ul>
                              <li>The competition is open to all ages<strong><span style="font-size: small;">. </span></strong></li>
                              <li>Whole schools and individual students are welcome to participate.</li>
                              <li>Each entrant is acknowledged with a <strong><span style="font-size: small;"> certificate of participation.</span></strong></li>
                          </ul>
                      </div>
                  </a>
              </div>         
         <hr style="border-color:white" />
         </article>
        }
        Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("ShowList", new { page, sortOrder = ViewBag.SortOder, currentFilter = ViewBag.CurrentFilter }))
    </section>

