@using System.Collections.Generic
@using System.Linq
@using InstituteOfFineArts.Models
@model System.Collections.Generic.IEnumerable<InstituteOfFineArts.Models.Competition>
@{
    ViewBag.Title = "ShowList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-style" style="background-color:#f3f3f3; background-size:cover">
    <section class="banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white pt-20 pb-20">
                        List Of Competitions
                    </h1>
                    <p class="text-white link-nav"><a href="/Home/Index">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="#">Competition</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="upcoming-event-area section-gap content container" id="events">
        <section class="upcoming-event-area" id="events">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Checkout our Upcoming Events</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                @{
                    var length = Model.Count();
                    List<Competition> competitions = (List<Competition>)Model;
                }
                @for (var i = 0; i < 1; i++)
                {
                    <div class="col-lg-6 event-left">
                        <div class="single-events">
                            <img class="img-fluid" src="@Url.Content(competitions[i].Image)" alt="">
                            <a href="#"><h4>@competitions[i].CompetitionName</h4></a>
                            <p>
                                @competitions[i].Description
                            </p>
                            @Html.ActionLink("VIEW DETAILS", "DetailCompetition", "Competition", new { Id = @competitions[i].CompetitionId }, new { @class = "primary-btn text-uppercase" })
                        </div>
                    </div>
                    <div class="col-lg-6 event-right">
                        <div class="single-events">
                            <a href="#"><h4>@competitions[i + 1].CompetitionName</h4></a>
                            <p>
                                @competitions[i + 1].Description
                            </p>
                            @Html.ActionLink("VIEW DETAILS", "DetailCompetition", "Competition", new { Id = @competitions[i + 1].CompetitionId }, new { @class = "primary-btn text-uppercase" })
                            <img class="img-fluid" src="@Url.Content(competitions[i + 1].Image)" alt="">
                        </div>
                    </div>
                }
            </div>
            <div class="container">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
            <hr />

        </section>

    </section>

</div>


