
@model PagedList.IPagedList<InstituteOfFineArts.Models.Competition>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ShowList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container-style" style="background-color:#f3f3f3; background-size:cover">
        <section class="banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white pt-20 pb-20">
                       List Of Competitions
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="upcoming-event-area section-gap content container" id="events">
        <section class="upcoming-event-area" id="events">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Các sự kiện đang được diễn ra</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <hr />
            @foreach (var item in Model)
            {
                <article>
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="menu-content pb-60 col-lg-10">
                                <div class="title text-center">
                                    <h1 class="mb-10"></h1>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="row show-list" style="">
                            <div class="col-lg-12" style="display:inline-block"  >
                                <div class="single-events" style="text-align:center">
                                    <img class="col-md-6 shadow-lg p-3 mb-5 bg-white rounded" src="@Url.Content(item.Image)" style="margin: 20px 0 0 0" alt="">
                                    <div style="padding-top: 20px; border-left-color: #ff6a00">
                                        <a style="padding:5px" href="#"><h4>@Html.DisplayFor(modelItem => item.CompetitionName)</h4></a>
                                        <p>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </p>
                                        <a href="@Url.Action("DetailCompetition","Competition", new {id = item.CompetitionId })" class="primary-btn text-uppercase">View Details</a>
                                    </div>
                                    </div>
                          
                            </div>
                        </div>
                    </div>

                </article>
            }
            <hr />
            Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("ShowList", new { page, sortOrder = ViewBag.SortOder, currentFilter = ViewBag.CurrentFilter }))
        </section>

    </section>

    </div>
    

